<div class="col-lg-6">
  <h3>Current</h3>
  <div class="table-responsive">
    <table class="tableNew table training_table">
      <thead>
        <th>Employee</th>
        <th>Job title</th>
        <th>Reserve</th>
        <th>Certificate</th>
        <th>Compliance score</th>
      </thead>
      <tbody>
        {% for key,value in items %}
          <tr>
            {% for key1,value1 in value %}
              {% if key1 == 0 %}
                <td>{{ value1|raw }}</td>
              {% elseif key1 == 1 %}
                <td>{{ value1 }}</td>
              {% elseif key1 == 2 %}
                <td>{{ value1|raw }}</td>
              {% elseif key1 == 'score' %}
                <td>{{ value1|raw }}</td>
              {% elseif key1 == 3 %}
                <td width="350px">
                  <table width="350px">
                    <tbody>
                      <tr>
                        {% for key2,value2 in value1 %}
                          <td style="background-color:{{ value2['color'] }}; border-right: 1px solid #fff;" title="{{ value2['date'] }}"></td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
