{% if items is not empty %}
{#<h2>Suggested Coursed</h2>#}
{#<div class="dashboard-content suggested">#}
{#    <div class="dashboardform-inner">#}
{#        <div class="table-design">#}
{#            <div class="table-responsive">#}
{#    <table class="table">#}
{#            <thead>#}
{#                    <th><div><span>Course</span></div></th>#}
{#                    <th><div><span>Provider Name</span></div></th>#}
{#                    <th><div><span>Location</span></div></th>#}
{#                    <th><div><span>Course Date</span></div></th>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for key3,value3 in items %}#}
{#                    <tr>#}
{#                        {% for key4,value4 in value3 %}#}
{#                                <td>{{ (value4) }}</td>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#    </table>#}
{#</div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% else %}#}
{#<h5 class="no_record">No record found</h5>#}
{% endif %}

{% if counts==0 %}
  {% if items is not empty %}
    <div class="bg-gray-900">
      <div class="pt-6 sm:pt-6 lg:pt-6">
        <div class="courses_selectionHeader mx-auto max-w-7xl px-4 text-center sm:px-6 lg:px-8">
          <div class="mx-auto max-w-xl space-y-2 lg:max-w-none">
            <h4 class="text-xl font-semibold leading-6 text-gray-300">Course selection</h4>
            <h2 class="text-3xl font-bold tracking-tight sm:text-4xl lg:text-5xl">Find the right course for you</h2>
            <p class="text-xl ">Your accreditation is expiring, please select a course below to renew</p>
          </div>
        </div>
      </div>
      <div class="mt-8 bg-gray-50 pb-12 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
        <div class="relative">
          <div class="absolute inset-0 h-3/4 bg-gray-900"></div>
          <div class="relative z-10 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="courses_selectionGroup mx-auto max-w-md space-y-4 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-5 lg:space-y-0">
              {% for key3,value3 in items %}
                <div class="courses_selectionlist flex flex-col overflow-hidden rounded-lg shadow-lg">
                  <div class="CS-listTop bg-white px-4 py-8 sm:p-10 sm:pb-6">
                    <div>
                      {#{% if key3 == 0 %}#}
                      {#    <h3 class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-base font-semibold text-indigo-600" id="tier-standard">Nearest</h3>#}
                      {#{% elseif key3 == 1 %}#}
                      {#    <h3 class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-base font-semibold text-indigo-600" id="tier-standard">Earliest</h3>#}
                      {#{% else %}#}
                      {#    <h3 class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-base font-semibold text-indigo-600" id="tier-standard">Earliest</h3>#}
                      {#{% endif %}#}
                    </div>
                    <div class="CS-heading mt-4 flex items-baseline text-4xl font-bold tracking-tight">{{ value3[1] }}</div>
                    <p class="mt-5 text-lg text-gray-500">{{ value3[4]|date('d F, Y') }}</p>
                  </div>
                  <div class="CS-listContent flex flex-1 flex-col justify-between space-y-6 bg-gray-50 px-6 pt-6 pb-8 sm:p-10 sm:pt-6">
                    <ul role="list" class="space-y-4">
                      <li class="flex items-start">
                        <div class="CS-listIcon flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base text-gray-700">{{ value3[3] }}</p>
                      </li>

                      <li class="flex items-start">
                        <div class="CS-listIcon flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base text-gray-700">Provider: {{ value3[2] }}</p>
                      </li>

                      <li class="flex items-start">
                        <div class="CS-listIcon flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base text-gray-700">Electronic resgistration</p>
                      </li>
                      <li class="flex items-start">
                        <div class="CS-listIcon flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base text-gray-700">Electronic documentation</p>
                      </li>

                      <li class="flex items-start">
                        <div class="CS-listIcon flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base text-gray-700">Automated accreditation update on completion</p>
                      </li>
                    </ul>
                    <div class="rounded-md ">
                      <a href="/suggested_course_booked/{{ value3[5] }}?cname={{ value3[1] }}&&pname={{ value3[2] }}&&loc={{ value3[3] }}&&date={{ value3[4] }}" class="CS-listButton flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900" aria-describedby="tier-standard">Book course</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="relative mx-auto mt-4 max-w-7xl px-4 sm:px-6 lg:mt-5 lg:px-8">
          <div class="CourseSelectionLinking_outer mx-auto max-w-md lg:max-w-5xl">
            <div class="CourseSelectionLinking rounded-lg bg-gray-100 px-6 py-8 sm:p-10 lg:flex lg:items-center">
              <div class="flex-1">
                <div>
                  <h3 class="inline-flex rounded-full bg-white px-4 py-1 text-base font-semibold text-gray-800">None to your liking?</h3>
                </div>
                <div class="CourseSelectionLinking_content mt-4 text-lg text-gray-600">Contact our team to find an alternative course that works for you.</div>
              </div>
              <div class="mt-6 rounded-md lg:mt-0 lg:ml-10 lg:CS-listIcon flex-shrink-0">
                <a href="/form/contact-us" class="flex items-center justify-center rounded-md bg-white px-5 py-3 text-base font-medium text-gray-900 hover:bg-gray-50 use-ajax" data-dialog-options="{&quot;width&quot;:500}" data-dialog-type="modal">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  <h4>Employee has requested for course book.</h4>
  <table class="table table-bordered table-striped">
    {% if items is not empty %}
    <tr>
      <th>Course Name</th>
      <td>{{ items[1] }}</td>
    </tr>
    <tr>
      <th>Provider Name</th>
      <td>{{ items[2] }}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>{{ items[3] }}</td>
    </tr>
    <tr>
      <th>Expiry Date</th>
      <td>{{ items[4] }}</td>
    </tr>
    {% endif %}
  </table>
{% endif %}