{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if logged_in %} 
  <div class="dashboard-page">
    <!-- Dashboard page start CSS -->
    <div id="dash_wrapper">
      <!-- Sidebar start -->
      <div id="sidebar-wrapper" class="">
        <!-- Sidebar Top Start -->
        <div class="sidebar_top">
          <div class="top-bar-brand">
            <a class="navbar-brand" href="/">
              <img  class="lighttheme-logo" src="/themes/custom/matrics/img/whitelogo1.svg" alt="logo" title=""><img  class="darktheme-logo" style="display:none" src="/themes/custom/matrics/img/whitelogo1-darktheme.svg" alt="logo" title="">
            </a>
            <a href="javascript:void();" class="hamburger-icon"><img src="/themes/custom/matrics/img/hamburger_icon.svg" alt=""></a>
          </div>
          <div class="dashboard_user">
            <h3>{{ name }}</h3>
            {% if cus_session != '' %}
              <p class="session">Viewing {{ cus_session }}</p>
            {% else %} 
              <p>Viewing All Customers</p>
            {% endif %}
            {#<p>{{ customer_position }}</p>#}
            {#<div class="customer-switch">#}
            {#    {{ drupal_form('Drupal\\matrics_dashboard\\Form\\CustomerSelectForm') }}#}
            {#</div>#}
            <div class="user_img">
              <a href="/user/{{ uid }}/edit?q=change_profile&destination=/" class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal"><img src="{{ user_image }}" alt=""></a>
            </div>
          </div>
        </div>
        <!-- Sidebar Top End -->
        <!-- Sidebar Menu Start -->
        {{ page.sidebar_first }}
        <p class="site_version">Version: {{ version }}</p>
        <!-- Sidebar Menu End -->
        <!-- Bootstrap CSS -->
      </div>
      <!-- Sidebar End -->
      <!-- Dashboard Right Start -->
      <div class="dashboard-rightbar">
        <!-- Dashboard Header Start -->
        <header class="dashboard-header">
          <div class="dashboard-inner">
            <div class="desh-headerright">
              <div class="header_icons">
                {#{% if cus_session != '' %}#}
                {#  <div class="logged-in">#}
                {#    <p class="session">View as {{ cus_session }}</p>#}
                {#  </div>#}
                {#{% endif %}#}
                <div class="search__form">
                  <form>
                    <div class="form-group">
                      <input class="form-control" type="text">
                      <a href="javascript:void(0);" class="search-icon"><img src="/themes/custom/matrics/img/search_icon.svg" alt=""></a>
                    </div>
                  </form>
                </div>
                {#<a href="/task"><img src="/themes/custom/matrics/img/bell_icon.svg" alt=""></a>#}
                <div class="logged-in">
                  <a href="#" class="profile-notification"><img src="/themes/custom/matrics/img/bell_icon.svg" alt=""></a>
                  {% if notification_status == 1 %}
                    {% if suggested_count != 0 %}
                      <span class="suggested_count">{{ suggested_count }}</span>
                    {% endif %}
                    <ul class="notify">
                      {% if suggested != 0 %}
                        <li>
                          {% for key,value in suggested_msg %}
                            {{ value|raw }}
                          {% endfor %}
                        </li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </div>
              </div>
              <div class="logged-in">
                <div class="user_identity">
                  <p>{{ name }}</p>
                  <span>{{ role }}</span>
                </div>
                <a href="#" class="profile-detail">
                  <span class="logged-img">
                    <img src="{{ user_image }}" alt="lprofile">
                  </span>
                </a>
                <ul>
                  <li>
                    <a href="/user">Profile </a>
                  </li>
                  <li>
                    <a href="/user/{{ uid }}/edit?q=change_profile&destination=/" class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal">Change Picture </a>
                  </li>
                  <li>
                    <a href="/administration">Administration</a>
                  </li>
                  <li>
                    <a href="/switch-customer">Switch Customer</a>
                  </li>
                  <li>
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>
              </div>
              <label class="changesite-theme" for="dark_mode">
              <input type="checkbox" id="dark_mode"><span><img class="sun-img" src="/themes/custom/matrics/img/sun.svg" alt=""> <img class="moon-img" src="/themes/custom/matrics/img/moon.svg" alt=""> </span> </label>
            </div>
            <div class="desh-headerleft">
              <div class="sidemenu-btn">
                <a href="javascript:void();" class="hamburger-icon"><img src="/themes/custom/matrics/img/hamburger_icon.svg" alt=""></a>
              </div>
              <a class="logo-2" href="javascript:void();">
                <img class="lighttheme-logo" src="/themes/custom/matrics/img/whitelogo2.svg" alt="logo" title=""><img  class="darktheme-logo" src="/themes/custom/matrics/img/whitelogo-darktheme.svg" alt="logo" title="">
              </a>
            </div>
          </div>
        </header>
        <!-- Dashboard Header End -->
        {{ page.content }}
      </div>
      <!-- Dashboard Right End -->
    </div>
    <!-- Dashboard Page End -->
  </div>
{% else %}
  <div id="page-wrapper">
    <div id="page">
      <main id="content" class="column main-content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </section>
      </main>
      {% if page.sidebar_first %}
        <div id="sidebar-first" class="column sidebar">
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if page.sidebar_second %}
        <div id="sidebar-second" class="column sidebar">
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}